.App {
  justify-content: center;
  display: flex;
  align-items: center;
  background: #f5f8fa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body, #root, #root>div {
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
}
.form-create-restore {
  display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.container {
  width: 750px;
  display:block;
  height: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius:6px;
  
  background-color: #ffffff;
  box-shadow: 0 10px 45px rgba(255, 255, 255, 0.1);
}
.container--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  border-radius:6px;
  box-shadow: 0 10px 45px rgba(255, 255, 255, 0.1);
 
  overflow: hidden;

}
.container-content--top {
  text-align: left;
  margin-left: 20px;
}

.container-content--middle {
  color:black;
  padding:15px;
}
.container-content--bottom {
  
  justify-content: center;
  padding:15px;
  display:flex;
  color:black;
}
.wallet--nav {
  display: inline-flex;
  list-style: none;
  margin-bottom: 60px;
  justify-content: center;
}
.wallet-nav-action {
  margin:20px;
 }
.wallet-nav-action a {
 color:rgb(31, 30, 30);
 text-decoration: none;
}
.button {
  width: -webkit-fill-available;
  font-size: 16px;
  font-weight: 600;
  color: rgb(54, 44, 99);
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
 /* background-size: 300% 100%;*/
  border-radius: 50px;
 /* background-image: linear-gradient(to right, #eff0f5, #f3eef8, #cad5ec, #d5c5e2);*/
    box-shadow: 0 3px 9px 0 rgba(241, 237, 247, 0.75);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.WrapperWallet {
  display:flex;
}
.menu-container {
  width: 220px;
height:400px;

/* Transparant/White 50% */

/*background: rgba(252, 252, 252, 0.5);*/
border-radius: 16px;
}
.menu-actual-network {
  color: #A098AE;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    display: inline-flex;
}
.menu-logo {
  max-width:100%;
max-height:100%;
}
.menu-logo-container {
  width: 170px;
  padding-top: 20px;
  margin: auto;
  margin-bottom:30px;
}
.menu-list-container {
  display: flex;
  flex-direction: column;
  /* width: 250px; */
  /* position: absolute; */
  margin-left: 30px;
  margin-right: 30px;
}
.menu-about {
  font-size: 9px;
  color:#A098AE;
  margin-top:15px;
}
.menu-nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px;

}
.menu-nav-button-text {
  /* Text/Text Medium 1 */
color:#A098AE;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;

}
.mbtnactive div:nth-child(1n+0){
  /* Text/Text Medium 1 */
color:#363B64;


}
.mbtnactive {
  color:#363B64;
  background-color: #FCFCFC;
  box-shadow: 0px 20px 50px rgba(191, 21, 108, 0.05);
border-radius: 14px; 
}
.clearfix {
  margin-top:15px;
}
.card-button {
  color: #FCFCFC;
    background-color: #363B64;
    box-shadow: 0px 20px 50px rgba(191, 21, 108, 0.05);
    border-radius: 14px;
    padding: 10px 24px;
    cursor: pointer;
}
.card-button-disabled {
  color: #cacaca;
    background-color: #363b6479;
    box-shadow: 0px 20px 50px rgb(191 21 108 / 5%);
    border-radius: 14px;
    padding: 10px 24px;
}
.card-button-settings {
  color: #FCFCFC;
  background-color: #363B64;
  box-shadow: 0px 20px 50px rgb(191 21 108 / 5%);
  border-radius: 14px;
  /* padding: 10px 24px; */
  cursor: pointer;
  width: fit-content;
  padding: 0px 15px;
  float: right;
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: x-small;
}
.card-input {
  max-width: 200px;
    color: #000;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: right;
    background: transparent;
    border: 0px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}
.card-input-address {
  width: -webkit-fill-available;
  color: #000;
  font-weight: 400;
  font-size: 17px;
  padding: 8px;
  line-height: 120%;
  background: transparent;
  border: 0px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  font-family: monospace;
}
.card-input-address::placeholder {
  color: rgb(163, 163, 163);
}
.card-subtitle {
 
  width:100%;
  font-weight: 700;
  text-align: left;
}
/*.card-subtitle:before {
  border-left: 2px solid blue;
  content: "";
  padding-right: 10px;
}*/
.send-from-content {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  /* justify-content: space-between; */
  height: 44px;
}
.send-s-text {
  background-color: #01688B;
  color:white;
  border-radius: 4px;
  padding: 4px 8px;
}
.send-from-content-main {
  display: -webkit-flex;
    display: flex;
    margin-top: 20px;
}
.send-safe-icon {
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #f6f6f8;
    border-radius: 12px;
}

.send-safe-text-balance {
  display: flex;
  -webkit-flex: 1;
    /* flex: 1 1; */
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin-left: 20px;
}
.send-safe-tb-wrapper {
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 44px;
}
.sendsafeimg {
  max-width: 40px;
    padding: 4px;
}
.page-container {
  margin-left:25px;
  min-height: 690px;
}
.receive-qr-code-container {
  text-align: center;
  margin-top: 15px;
}
.receive-address-container {
  margin-top: 15px;
  font-family: monospace;
  text-align: center;
}
.receive-address {
  border-radius: 5px;
  font-size: small;
  padding: 8px;
  margin: 15px auto;
  width: fit-content;
  background-color: #f5f8fa;
  font-family: monospace;
}
.card-title {
  margin-top: 20px;
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 54px;
margin-bottom: 25px;
/* identical to box height */


/* Color/Main */

color: #363B64;
}
.card {
  width: 550px;
  display:block;
  

  margin-left: auto;
  margin-right: auto;
  border-radius:6px;
  
  background-color: #ffffff;
  filter: drop-shadow(0px 15px 15px rgba(37, 37, 37, 0.02));
}
.card--content {
  padding:30px;
}
.white-card-heading {
  /* Heading/Heading 3 */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 36px;
/* identical to box height */


/* Color/Main */

color: #363B64;
}
.dark-card-heading {
  /* Heading/Heading 3 */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 36px;
/* identical to box height */


/* Color/Main */

color: #e9e6db;
}
.staking {
  background: linear-gradient(96.84deg, #505a5e 36.67%, #223841 112.57%);
}
.staking-delegation {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 230px;
}
.stake-address {
  border-radius: 5px;
  font-size: large;
  padding: 8px 8px 0px 8px;
  margin: 15px auto 0px auto;
  width: -moz-fit-content;
  width: fit-content;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
  font-family: monospace;
  color: aliceblue;
}
.stake-status {
  display:flex;
  justify-content: center;
}
.stake-status-event {
  font-size: medium;
  color: white;
  border-radius: 7px;
  background-color: #ffffff08;
  border: 1px solid #ffffff2e;
  padding: 2px 8px;
}
.stake-auth {
  display:flex;
  font-family: monospace;
  justify-content: center;
}
.stake-sauth-label {
  background-color: red;
  border-radius: 3px;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 7px;
}
.stake-subadd {
  color:#f0f8ffb8;
}
.active-stake-container {
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.active-stake-amount {
  background: linear-gradient(
120deg
, #f3b283 36.67%, #ab83b1 112.57%);
border-radius: 8px;
  padding:12px;
  margin-right: 10px;
  color:white;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: large;
}
.active-stake-state {
  margin-top: auto;
  margin-bottom: auto;
}
.stake-voter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.stake-voter-info {
  justify-content: center;
  display: flex;
  font-family: monospace;
}
.stake-voter-label {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}
.dotted-separator {
  border-top: 5px dotted #847878;
  width: 70%;
  margin: auto;
}
.actual-voter-address {
  text-align: center;

  font-family: monospace;
}
.ssor {
  color: #dc7147c9;
 /* border: 1px solid #f8c6ae5c;*/
}
.ssgr {
  color: #60dc47c0;
 /* border: 1px solid #b6f8ae5c;*/
}
.stake-numbers {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color:white;
}
.stake-numb-grid {
  display:grid;
}
.stake-validator-dpd-cont {
  margin-top:20px;
  margin-bottom:20px; 
}
.horizontal-space {
  width:30px;
}
.vertical-space {
  height:20px;
}
.stake-numbers {
  margin-top:20px;
  display:flex;
  justify-content: space-between;
}
.black-bg {
  background-color: rgb(34, 33, 33);
  border-radius: 3px;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 7px;
  margin-left: 7px;
  font-size: small;
  font-family: monospace;
}
.delegated-amount {

}
.icon-container {
  padding-left: 5px;
  padding-right: 5px;
}
.safecoin {
  background: linear-gradient(
96.84deg
, #01688B 36.67%, #0C769E 112.57%);
}
.safe-balance-wrapper {
  display:flex;
}
.safe-balance-numbers {
  margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.safe-logo {
  max-width: 100px;
}
.safe-usd {
  font-weight: bold;
  font-size: xx-large;
  color:#EAECFC;
}
.safe-amount {
  font-size: medium;
  color:#CAC1D9;
}
.btncontainer {
  text-align: center;
  margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.mntextarea {
  position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 100%;
    min-height: 125px;
    padding: 15px;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    font-family: "Aktiv Grotesk Corp",sans-serif;
    line-height: 24px;
    background-image: linear-gradient(#fff,#fff),linear-gradient(180deg,#f7c08f,#ac97af);
    background-clip: padding-box,border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-radius: 12px;
    outline: 0;
    -webkit-filter: drop-shadow(0 8px 20px rgba(0,0,0,.1));
    filter: drop-shadow(0 8px 20px rgba(0,0,0,.1));
}
.form-create-restore-wrap {
  width : 360px;
}
.text-quiet {
 color : #A098AE;
}
.settings-row {
  display: flex;
  justify-content: space-between;
    flex-direction: row;
    line-height: 38px;
    margin-top: 6px;
    margin-bottom:6px;
}
.settings-action-container {
  width: 220px;
}
.settings-title {
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
color: #363B64;
margin-top: auto;
    margin-bottom: auto;
}

.stake-account-infos {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.card-button-center {
  border: 0;
  color: #FCFCFC;
    background-color: #363B64;
    box-shadow: 0px 20px 50px rgb(191 21 108 / 5%);
    border-radius: 14px;
    padding: 10px 24px;
    cursor: pointer;
    width: max-content;
    margin: auto;
    margin-top: 25px;
}
.center-middle {
  display: flex;
  justify-content: center;
  align-items: center;

}
.just-flex {
  display: flex;
}

.modal {
  background-color: #F5F5F5;
  /* font-size: 12px; */
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  display:flex;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popup-overlay {
  background-color: #0000004b;
}
.stake-withdraw-avaiable{
  text-align: center;
  padding: 8px;
  font-size: large;
  font-weight: 700;
}
.input-address-form{
  font-family: monospace;
  background: #FCFCFC;
  border-radius: 10px;
  -webkit-appearance: unset;
  appearance: unset;
  border: none;
  padding: 5px 8px;
  margin: 15px 5px;
  height: 23px;
  width:350px;
  text-align: center;
}
.input-address-form:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline:none;
}
.input-amount-form{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  background: #FCFCFC;
  border-radius: 10px;
  -webkit-appearance: unset;
  appearance: unset;
  border: none;
  padding: 5px 8px;
  margin: 15px 5px;
  height: 23px;
}
.input-amount-form:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline:none;
}
.label-stake-withdraw{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  /* line-height: 25px; */
  color: #363B64;
}